@charset "UTF-8";

:root {
	--background: #333a43;
	--grey1: #b0b0b0;
	--grey2: #a0a0a0;
	--grey3: #808080;

	--card: #434f60;
	--cardHover: #516075;

	--modal-background: #080808d0;
	--modal-button: #ffffff20;
	--modal-buttonHover: #ffffff40;

	--border-modal: 1px solid #484848;

	--shadow-navbar: 0rem 0.1rem 0.6rem #00000088;
	--shadow-none: 0rem 0.1rem 0.15rem #00000000;
	--shadow-small: 0rem 0.07rem 0.1rem #00000070;
	--shadow-medium: 0rem 0.1rem 0.67rem #000000a0;
	--shadow-large: 0rem 0.13rem 1rem #00000070;

	--regular: 'Open Sans', sans-serif;
	--semibold: 'Open Sans SemiBold', sans-serif;
	--bold: 'Open Sans Bold', sans-serif;
}

/* ---------- Root elements ---------- */

@font-face {
	font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans SemiBold";
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-display: swap;
}

@font-face {
	font-family: "Open Sans Bold";
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-display: swap;
}

html {
	height: 100%;
}

* {
	font-family: var(--regular);
	color: #ffffff;
	line-height: 1.6;
    box-sizing: border-box;
    text-decoration: none;
	border-style: none;
	outline-style: none;
}

body {
    margin: 0;
    background-color: var(--background);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
    user-select: none;
    pointer-events: none;
}

section {
	padding-bottom: 4.5rem;
}

input {
	height: 3rem;
}

textarea {
	height: 14rem !important;
	resize: none;
}

::selection {
    background: #ffffff30;
}

#content {
	top: 80px;
	position: relative;
}

.banner {
	width: 100%;
    height: 20rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #76818a;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.banner-gradient {
	height: 100%;
	display: flex;
	background: linear-gradient(to bottom, #333a4350, #333a43ff);
}

.banner-title {
	font-size: 42px;
    font-family: var(--bold);
	line-height: 1.45;
}

.banner-subtitle {
	font-size: 16px;
    font-family: var(--semibold);
	color: #ffffffa0;
}

.section-top {
	padding-top: 2rem;
}

.section-bottom {
	padding-bottom: 10rem;
}

.section-title {
	font-size: 30px;
	font-family: var(--semibold);
	color: #ffffffa0;
}

.divider {
	width: 100%;
	height: 2px;
	margin-bottom: 1rem;
	background-color: #ffffff60;
}

.container,
.containerWorkbook {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: 10px;
	row-gap: 10px;
}

.gridWorkbook {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	row-gap: 8px;
}

.disabled {
	opacity: 40%;
	pointer-events: none;
	user-select: none;
}

.footer {
	display: flex;
}

.footer-text {
	color: #ffffff80;
	margin: 0.5rem;
	margin-left: auto;
}

.card {
	width: 360px;
	height: 240px;
	border-radius: 0.5rem;
    box-shadow: var(--shadow-small);
    background-size: cover;
	user-select: none;
	cursor: pointer;
	background-color: #2c313a;
	transform: scale(1);
	transition: background-color 0.16s ease-out, transform 0.16s ease-out, box-shadow 0.16s ease-out;
	transition-timing-function: cubic-bezier(0.400, 0.000, 1.000, 1.000);
}

.card-glare {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0%;
	border-radius: 0.5rem;
	background-size: cover;
	background-image: url('../assets/images/glare.webp');
	transition: all 0.16s ease-out;
	transition-timing-function: cubic-bezier(0.400, 0.000, 1.000, 1.000);
}

.card-gradient {
	display: flex;
	height: 100%;
	border-radius: 0.5rem;
	background: linear-gradient(to bottom, #00000000 65%, #00000060);
}

.card-text {
	font-size: 15px;
    font-family: var(--semibold);
	line-height: 1.2;
	margin-top: auto;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	margin-bottom: 0.8rem;
	text-shadow: 0rem 0.5px 1.5px #000000ff;
}

.card:hover {
	z-index: 10;
	transform: scale(1.03);
    box-shadow: var(--shadow-large);
	transition: transform 0.07s ease-out, box-shadow 0.07s ease-out;
}

.card:hover > .card-glare {
	opacity: 70%;
	transition: all 0.07s ease-out;
}








.index-content {
	min-height: 500px;
	height: calc(100vh - 80px);
	display: flex;
}

#profile {
	width: 350px;
	height: 350px;
	border-radius: 100rem;
	background-color: #000000;
	border-style: solid;
	border-width: 2px;
	border-color: #000000;
	margin: auto;
}

.about-overlay {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 510px;
	height: 100%;
	margin: auto;
	padding-top: 64px;
	padding-bottom: 128px;
	padding-left: 32px;
	padding-right: 32px;
}

.about-background {
	width: 100%;
	min-height: calc(100vh - 80px);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.about-photo {
	margin: auto;
	width: 500px;
	height: 500px;
	border-radius: 100rem;
}

.about-grid {
	display: grid;
	grid-template-columns: 1fr 60px 60px;
	column-gap: 12px;
	row-gap: 12px;
}

.about-link {
	display: flex;
	width: 100%;
	height: 60px;
	padding: 14px;
	user-select: none;
	cursor: pointer;
	border-width: 2px;
	border-style: solid;
	border-color: #ffffff;
	border-radius: 12px;
	transition: background-color 0.07s ease-out;
}

.about-link:hover {
	background-color: #ffffff30;
}

.about-link-text {
	margin: auto;
	font-family: var(--semibold);
}













::-webkit-scrollbar {
	background-color: #ffffff30;
	width: 3px;
	height: 3px;
}

::-moz-scrollbar {
	background-color: #ffffff30;
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	background-color: #ffffff70;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-track-piece {
}

::-webkit-scrollbar-corner {
	width: 0px;
	height: 0px;
}

::-webkit-resizer {
	width: 0px;
	height: 0px;
}
