@charset "UTF-8";

.modal.show > .modal-dialog {
	opacity: 1;
	transform: scale(1);
	transition-timing-function: cubic-bezier(0, 0, 0, 1);
}

.modal.show > #content {
	user-select: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 900;
	width: 100vw;
	height: 100vh;
}

.fade {

}

.fade:not(.show) {
	opacity: 0;
}


.modal {
	overflow-x: scroll;
	transition: opacity 0.17s;
	background-color: var(--modal-background);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	outline-style: none;
	border-style: none;
	overflow-y: auto;
}

.modal-dialog {
	opacity: 0;
	position: relative;
	display: flex;
	align-items: center;
	padding: 10px;
	transform: scale(1.15);
	transition: all 0.17s, margin 0s, width 0s, height 0s, padding 0s;
	transition-timing-function: linear;
}

.standard-dialog {
	width: 1200px;
	margin-top: calc(50vh - 379px);
	margin-left: calc(50vw - 600px);
}

.contact-dialog {
	width: 600px;
	margin-top: calc(50vh - 345px);
	margin-left: calc(50vw - 300px);
}

.modal-content {
	display: flex;
	min-width: 400px;
	width: 100%;
	border-radius: 0.67rem;
	box-shadow: 0rem 0.2rem 3.5rem #000000ff;
}

.modal-container {
	flex-direction: row;
	width: 100%;
	display: flex;
}

.modal-section1 {
	width: 800px;
	background-color: #303030;
	padding: 1rem;
	border-radius: 0.67rem 0 0 0.67rem;
	display: flex;
	flex-direction: column;
	border-top: var(--border-modal);
	border-bottom: var(--border-modal);
	border-left: var(--border-modal);
}

.modal-section2 {
	width: 400px;
	background-color: #404040;
	padding: 1rem;
	padding-right: 0.5rem;
	border-radius: 0 0.67rem 0.67rem 0;
	display: flex;
	flex-direction: column;
	border-top: var(--border-modal);
	border-bottom: var(--border-modal);
	border-right: var(--border-modal);
}

.modal-title {
    font-family: var(--bold);
	font-size: 28px;
}

.modal-subtitle {
	font-size: 15px;
    font-family: var(--semibold);
	color: var(--grey1);
}

.modal-images {
	display: flex;
	flex-direction: column;
	background-color: #141414;
	padding: 4px;
	margin-top: 1.25rem;
	margin-bottom: 4px;
}

.modal-images-feature {
	width: 100%;
	height: auto;
}

.modal-images-gallery {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	column-gap: 4px;
	margin-top: 4px;
}

.modal-images-gallery-thumbnail {
	object-fit: cover;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.modal-header {
    font-family: var(--bold);
	color: var(--grey2);
}

.modal-label {
    font-family: var(--semibold);
	color: var(--grey2);
}

.modal-description {
	padding-right: 0.5rem;
	overflow-y: auto;
	margin-top: 0.25rem;
	height: 674px;
}

.contact {
	width: 800px;
	background-color: #303030;
	padding: 1rem;
	border-radius: 0.67rem;
	display: flex;
	flex-direction: column;
	border: var(--border-modal);
}

.modal-field {
	width: 100%;
	height: auto;
	margin-top: 8px;
	margin-bottom: 30px;
	background-color: #202020;
	padding: 12px;
	outline-style: none;
	border-style: solid;
	border-width: 2px;
	border-color: #a0a0a000;
	font-size: 15px;
	border-radius: 0.67rem;
	transition: border-color 0.05s ease-out;
}

.modal-field:focus {
	border-color: #a0a0a0ff;
}














.button {
	background-color: var(--modal-button);
	height: 56px;
	font-size: 16px;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	margin-left: auto;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
    display: flex;
	cursor: pointer;
    user-select: none;
	transition: all 0.05s ease-out;
}

.button:hover {
	background-color: var(--modal-buttonHover);
}

.button-icon {
	width: 40px;
	height: 40px;
	padding: 4px;
    display: flex;
	filter: invert();
}

.button-text {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
}

.button-text1 {
	font-family: var(--semibold);
	line-height: 18px;
}

.button-text2 {
	font-size: 14px;
	line-height: 18px;
}
