@charset "UTF-8";

.workbook {
	background-color: #4b525b80;
	border-radius: 0.4rem;
	padding: 0.4rem;
	display: flex;
	height: 5rem;
}

.workbook:hover {
	background-color: #4b525bff;
}

.workbook-title {
    font-family: var(--semibold);
}

.workbook-subtitle {
	opacity: 70%;
}

.article-backButton {
	background-color: #4b525b80;
	padding: 0.5rem;
	border-radius: 0.4rem;
	display: inline-flex;
	margin-right: auto;
	margin-bottom: 1rem;
}

.article-backButton:hover {
	background-color: #4b525bff;
}

.article-title {
    font-family: var(--semibold);
	font-size: 1.7rem;
}

.article-date {
	font-size: 1.4rem;
}

.article-correction {
	font-size: 0.95rem;
	font-style: italic;
	opacity: 80%;
}

.article-header {
    font-family: var(--semibold);
	font-size: 1.5rem;
}

.article-body {
}
